<div class="breadcrumb">
    <app-breadcrumbs [items]="breadcrumbsData" />
</div>
<div class="bg-white">
    @if (productDetails._id) {
    <div class="px-6 max-lg:mx-auto py-4">
        <div class="w-full flex gap-5 sticky">
            <div class="w-1/3 sm:w-full sm:flex-wrap lg:sticky top-0 text-center">
                <div class="lg:h-5/6 flex justify-center items-center">
                    <img [src]="displayImg" alt="Product" class="rounded-xl object-top" />
                </div>
                <div class="flex flex-wrap gap-x-8 gap-y-6 justify-center mx-auto mt-6">
                    @for (item of productDetails.productImages; track $index) {
                    <img [src]="item" [alt]="$index" (click)="displayImg=item"
                        class="w-10 cursor-pointer rounded-xl outline" />
                    }
                </div>
            </div>
            <div class="w-2/3 sm:w-full">
                <div class="flex flex-wrap items-start gap-4">
                    <div class="flex-1">
                        <p class="text-xl font-bold text-gray-800">{{productDetails.productName}} Hair Growth Oill 150ml
                            and Pack of 3 Hair Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml and Pack of 3 Hair
                            Growth Oill 150ml and Pack of 3</p>
                    </div>
                    <div class="ml-auto flex flex-wrap gap-4">
                        <button type="button"
                            (click)="isWishlisted()?removeWishlist(productDetails._id):addWishlist(productDetails._id)"
                            [ngClass]="isWishlisted()?'bg-red-500 text-white':''"
                            class="px-2.5 py-1.5 bg-pink-100 text-xs text-pink-600 rounded-md flex items-center justify-center group hover:bg-red-500">
                            <i class="pi pi-heart group-hover:text-white"></i>
                        </button>
                        <button type="button"
                            class="px-2.5 py-1.5 bg-gray-100 text-xs text-gray-800 rounded-md flex items-center group hover:bg-slate-400">
                            <i class="pi pi-share-alt group-hover:text-white"></i>
                        </button>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="flex flex-wrap gap-2 items-start flex-col">
                    <div class="flex gap-2 items-end">
                        <p class="text-gray-800 text-3xl font-bold">₹{{productDetails.salePrice}}</p>
                        <p class="text-gray-400 text-xl mt-1 line-through">₹{{productDetails.mrpPrice}}</p>
                        <p class="text-xl text-green-500 mt-1">{{productDetails.discount}}% off</p>
                    </div>
                    <div class="flex gap-2 py-3">
                        <button type="button"
                            class="px-2.5 py-1.5 {{validateColorCodes(ratingDetails.avgRating)}} text-xs rounded-md flex items-center">
                            <svg class="w-3 mr-1" fill="currentColor" viewBox="0 0 14 13"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7 0L9.4687 3.60213L13.6574 4.83688L10.9944 8.29787L11.1145 12.6631L7 11.2L2.8855 12.6631L3.00556 8.29787L0.342604 4.83688L4.5313 3.60213L7 0Z" />
                            </svg>
                            {{ratingDetails.avgRating}}
                        </button>
                        <button type="button"
                            class="px-2.5 py-1.5 bg-gray-100 text-xs text-gray-800 rounded-md flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-3 mr-1" fill="currentColor"
                                viewBox="0 0 32 32">
                                <path
                                    d="M14.236 21.954h-3.6c-.91 0-1.65-.74-1.65-1.65v-7.201c0-.91.74-1.65 1.65-1.65h3.6a.75.75 0 0 1 .75.75v9.001a.75.75 0 0 1-.75.75zm-3.6-9.001a.15.15 0 0 0-.15.15v7.2a.15.15 0 0 0 .15.151h2.85v-7.501z"
                                    data-original="#000000" />
                                <path
                                    d="M20.52 21.954h-6.284a.75.75 0 0 1-.75-.75v-9.001c0-.257.132-.495.348-.633.017-.011 1.717-1.118 2.037-3.25.18-1.184 1.118-2.089 2.28-2.201a2.557 2.557 0 0 1 2.17.868c.489.56.71 1.305.609 2.042a9.468 9.468 0 0 1-.678 2.424h.943a2.56 2.56 0 0 1 1.918.862c.483.547.708 1.279.617 2.006l-.675 5.401a2.565 2.565 0 0 1-2.535 2.232zm-5.534-1.5h5.533a1.06 1.06 0 0 0 1.048-.922l.675-5.397a1.046 1.046 0 0 0-1.047-1.182h-2.16a.751.751 0 0 1-.648-1.13 8.147 8.147 0 0 0 1.057-3 1.059 1.059 0 0 0-.254-.852 1.057 1.057 0 0 0-.795-.365c-.577.052-.964.435-1.04.938-.326 2.163-1.71 3.507-2.369 4.036v7.874z"
                                    data-original="#000000" />
                                <path
                                    d="M4 31.75a.75.75 0 0 1-.612-1.184c1.014-1.428 1.643-2.999 1.869-4.667.032-.241.055-.485.07-.719A14.701 14.701 0 0 1 1.25 15C1.25 6.867 7.867.25 16 .25S30.75 6.867 30.75 15 24.133 29.75 16 29.75a14.57 14.57 0 0 1-5.594-1.101c-2.179 2.045-4.61 2.81-6.281 3.09A.774.774 0 0 1 4 31.75zm12-30C8.694 1.75 2.75 7.694 2.75 15c0 3.52 1.375 6.845 3.872 9.362a.75.75 0 0 1 .217.55c-.01.373-.042.78-.095 1.186A11.715 11.715 0 0 1 5.58 29.83a10.387 10.387 0 0 0 3.898-2.37l.231-.23a.75.75 0 0 1 .84-.153A13.072 13.072 0 0 0 16 28.25c7.306 0 13.25-5.944 13.25-13.25S23.306 1.75 16 1.75z"
                                    data-original="#000000" />
                            </svg>
                            {{ratingDetails.totalReviews}} Reviews
                        </button>
                    </div>
                    <div class="offers-section">
                        <p class="font-medium text-lg">Available offers</p>
                        <div class="bank-offers">
                            @for (offer of productDetails.offers; track $index) {
                            <div class="flex gap-2 items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
                                </svg>

                                <p class="font-medium text-sm">{{offer.couponName}}</p>
                                <p> Use {{offer.couponCode}} to get {{offer.couponOfferType}}. {{offer.couponTerms}} {{offer.minPurchase}}
                                </p>
                            </div>
                            }
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="flex flex-wrap gap-4">
                        @if(productDetails.outOfStock){
                        <span>Currently out of stock!</span>
                        }
                        @else if (isAddedToCart()) {
                        <button type="button" routerLink="/store/cart"
                            class="min-w-[200px] px-4 py-2.5 border border-gray-800 bg-transparent hover:bg-gray-50 text-gray-800 text-sm font-bold rounded">
                            Go to Cart
                        </button>
                        } @else {
                        <button type="button"
                            class="min-w-[200px] px-4 py-3 bg-gray-800 hover:bg-gray-900 text-white text-sm font-bold rounded">Buy
                            now</button>
                        <button type="button" (click)="addToCart(productDetails._id)"
                            class="min-w-[200px] px-4 py-2.5 border border-gray-800 bg-transparent hover:bg-gray-50 text-gray-800 text-sm font-bold rounded">
                            {{productDetails.isAddedtoCart?'Added to cart':'Add to cart'}}
                        </button>
                        }
                    </div>
                </div>
                <hr class="my-4" />
                <div>
                    <h3 class="text-lg font-medium text-gray-800">Product Description</h3>
                    <div class="flex flex-wrap gap-4 mt-4">
                        <span>
                            {{productDetails.productDesc}}
                        </span>
                        <!-- <button type="button"
                            class="w-12 h-12 border-2 hover:border-gray-800 font-bold text-sm rounded-full flex items-center justify-center shrink-0">SM</button>
                        <button type="button"
                            class="w-12 h-12 border-2 hover:border-gray-800 border-gray-800 font-bold text-sm rounded-full flex items-center justify-center shrink-0">MD</button>
                        <button type="button"
                            class="w-12 h-12 border-2 hover:border-gray-800 font-bold text-sm rounded-full flex items-center justify-center shrink-0">LG</button>
                        <button type="button"
                            class="w-12 h-12 border-2 hover:border-gray-800 font-bold text-sm rounded-full flex items-center justify-center shrink-0">XL</button> -->
                    </div>
                </div>
                <!-- <hr class="my-4" />
                <div class="border-1 border-gray-300">
                    <h3 class="text-lg font-bold text-gray-800">Reviews & Rating</h3>
                    <div class="flex flex-wrap gap-4 mt-4">
                        <span>
                            {{productDetails.productDesc}} Hair Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml
                            and Pack of 3 Hair Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml and Pack of 3 Hair
                            Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml
                            and Pack of 3 Hair Growth Oill 150ml and Pack of 3Hair Growth Oill 150ml and Pack of 3 Hair
                            Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml
                            and Pack of 3Hair Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml and Pack of 3 Hair
                            Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml and Pack of 3Hair Growth Oill 150ml
                            and Pack of 3 Hair Growth Oill 150ml and Pack of 3 Hair Growth Oill 150ml and Pack of 3 Hair
                            Growth Oill 150ml and Pack of 3
                        </span>
                        <button type="button"
                            class="w-12 h-12 border-2 hover:border-gray-800 font-bold text-sm rounded-full flex items-center justify-center shrink-0">SM</button>
                        <button type="button"
                            class="w-12 h-12 border-2 hover:border-gray-800 border-gray-800 font-bold text-sm rounded-full flex items-center justify-center shrink-0">MD</button>
                        <button type="button"
                            class="w-12 h-12 border-2 hover:border-gray-800 font-bold text-sm rounded-full flex items-center justify-center shrink-0">LG</button>
                        <button type="button"
                            class="w-12 h-12 border-2 hover:border-gray-800 font-bold text-sm rounded-full flex items-center justify-center shrink-0">XL</button>
                    </div>
                    <span>Coming Soon!!!</span>
                </div> -->
                <!-- <hr class="my-8" />
                <div>
                    <h3 class="text-lg font-bold text-gray-800">Choose a Color</h3>
                    <div class="flex flex-wrap gap-4 mt-4">
                        <button type="button"
                            class="w-12 h-12 bg-black border-2 border-white hover:border-gray-800 rounded-full shrink-0"></button>
                        <button type="button"
                            class="w-12 h-12 bg-gray-400 border-2 border-white hover:border-gray-800 rounded-full shrink-0"></button>
                        <button type="button"
                            class="w-12 h-12 bg-orange-400 border-2 border-white hover:border-gray-800 rounded-full shrink-0"></button>
                        <button type="button"
                            class="w-12 h-12 bg-red-400 border-2 border-white hover:border-gray-800 rounded-full shrink-0"></button>
                    </div>
                </div> -->

            </div>
        </div>
        <div class="mt-24 max-w-4xl">
            <ul class="flex border-b">
                <li (click)="toggleTabs(1)" [ngClass]="openTab===1?'border-b-2 bg-gray-100 border-gray-800':''"
                    class="text-gray-800 font-bold text-sm py-3 px-8  cursor-pointer transition-all">
                    Description</li>
                <li (click)="toggleTabs(2)" [ngClass]="openTab===2?'border-b-2 bg-gray-100 border-gray-800':''"
                    class="text-gray-400 font-bold text-sm hover:bg-gray-100 py-3 px-8 cursor-pointer transition-all">
                    Reviews</li>
            </ul>
            <div class="mt-8 pb-4" [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                <h3 class="text-lg font-bold text-gray-800">Product Description</h3>
                <p class="text-sm text-gray-400 mt-4">
                    {{productDetails.productDesc}}
                </p>
            </div>
            <ul class="space-y-3 list-disc mt-6 pl-4 text-sm text-gray-400 pb-4"
                [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                <li>A gray t-shirt is a wardrobe essential because it is so versatile.</li>
                <li>Available in a wide range of sizes, from extra small to extra large, and even in tall and petite
                    sizes.</li>
                <li>This is easy to care for. They can usually be machine-washed and dried on low heat.</li>
                <li>You can add your own designs, paintings, or embroidery to make it your own.</li>
            </ul>
        </div>
    </div>
    } @else {
    Loading..
    }
</div>