<div class="bg-white m-auto px-8 py-4 h-auto shadow mb-4">
    <h3 class="font-bold py-4">Wishlist Items({{wishlistDetails.length}})</h3>
    <div class="items flex gap-2 flex-col w-full">
        @if (wishlistDetails) {
        @for (item of wishlistDetails; track $index) {
        <div class="flex justify-between items-center">
            <div class="img flex gap-2">
                <div class="img">
                    <img [src]="item.itemId.productImages[0]" alt="Product"
                        class="h-20 w-20 object-cover rounded-t-xl" />
                </div>
                <div class="title">
                    <h5 class="hover:cursor-pointer"><a
                            (click)="redirectToProductDetails(item.itemId.productName,item.itemId._id)">{{item.itemId.productName}}</a>
                    </h5>
                    <h6 class="font-light">{{item.itemId.productDesc.substring(0,50)}}...</h6>
                    <div class="flex gap-2 items-end">
                        <p class="text-gray-800 text-xl font-bold">
                            ₹{{item.salePrice?.toFixed(2)}}
                        </p>
                        <p class="text-gray-400 text-sm mt-1 line-through">
                            ₹{{item.mrpPrice?.toFixed(2)}}</p>
                        <p class="text-sm text-green-500 mt-1">{{item.discount}}%
                            off</p>
                    </div>
                </div>
            </div>
            <div class="delete px-4">
                <button class="hover:text-red-600" (click)="deleteWishlist(item._id)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                </button>
            </div>
        </div>
        <hr>
        }
        }
    </div>
</div>