<div class="bg-white">
    <div class="max-w-2xl px-2 py-4 sm:px-6 sm:py-8 lg:max-w-full lg:px-5">
        <!-- <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-5"> -->
        <!-- <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2> -->
        <div class="mt-3 grid grid-cols-1 gap-x-2 gap-y-5 sm:grid-cols-2 lg:grid-cols-5 xl:gap-x-4">
            @for (product of products; track product._id) {
            <div
                class="group relative w-60 bg-white rounded-lg shadow-md hover:shadow-lg transform hover:scale-102 transition duration-300 ease-in-out border border-gray-100 slide m-4">
                <div
                    class="hidden absolute right-1 enableOnHover group-hover:block cursor-pointer">
                    <svg (click)="wishlistAction(product._id,$index,product?.wishlistId)"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6 {{product.isWishlisted?'fill-red-500':''}}">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg>
                </div>
                <img [src]="product.productImages[0]" alt="Product" class="w-full h-48 object-cover rounded-t-lg p-4" />
                <div class="p-4 flex flex-col justify-between">
                    <div class="flex items-center justify-between">
                        <span class="text-gray-400 text-xs">{{product.sellerName}}</span>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <a (click)="redirectToProductDetails(product.productName,product._id)"
                            class="text-lg font-medium text-black truncate block capitalize cursor-pointer">
                            {{product.productName}}
                        </a>
                        <div class="flex items-center">
                            <p class="text-lg font-medium text-black cursor-auto">
                                ₹{{product.salePrice}}
                            </p>
                            <del class="text-sm text-gray-600 ml-2">
                                ₹{{product.mrpPrice}}
                            </del>
                            <p class="text-sm text-green-600 ml-2">
                                {{product.discount}}% off
                            </p>
                        </div>
                    </div>
                    <div class="flex gap-2">
                        <button (click)="cartAction(product._id,$index,product?.cartId)"
                            class="w-full px-3 py-2 mt-2 text-center text-white bg-green-500 rounded-md hover:bg-green-700 flex items-center justify-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                            </svg>
                            Add to Cart
                        </button>
                        <!-- -->
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    @for (product of products; track product._id) {
    <div class="group relative w-60 bg-white rounded-lg shadow-md hover:shadow-lg transform hover:scale-102 transition duration-300 ease-in-out border border-gray-100 slide m-4"
        ngxSlickItem>
        <div class="hidden absolute right-1 enableOnHover group-hover:block group-hover:animate-pulse cursor-pointer">
            <svg (click)="wishlistAction(product._id,$index,product?.wishlistId)" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="w-6 h-6 {{product.isWishlisted?'fill-red-500':''}}">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
            </svg>
        </div>
        <img [src]="product.productImages[0]" alt="Product" class="w-full h-48 object-cover rounded-t-lg p-4" />
        <div class="p-4 flex flex-col justify-between">
            <div class="flex items-center justify-between">
                <span class="text-gray-400 text-xs">{{product.sellerName}}</span>
            </div>
            <div class="flex flex-col space-y-2">
                <a (click)="redirectToProductDetails(product.productName,product._id)"
                    class="text-lg font-medium text-black truncate block capitalize cursor-pointer">
                    {{product.productName}}
                </a>
                <div class="flex items-center">
                    <p class="text-lg font-medium text-black cursor-auto">
                        ₹{{product.salePrice}}
                    </p>
                    <del class="text-sm text-gray-600 ml-2">
                        ₹{{product.mrpPrice}}
                    </del>
                    <p class="text-sm text-green-600 ml-2">
                        {{product.discount}}% off
                    </p>
                </div>
            </div>
            <div class="flex gap-2">
                <button (click)="cartAction(product._id,$index,product?.cartId)"
                    class="w-full px-3 py-2 mt-2 text-center text-white bg-green-500 rounded-md hover:bg-green-700 flex items-center justify-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                    </svg>
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
    }
</ngx-slick-carousel> -->